html, body {
    height: 100%;
    width: 100%;
  }
  
  canvas {
    border: 1px solid blue;
    margin-top: 10px;
    
  }
  
  #start-btn {
    display: block;
    margin-top: 10px;
    background-color: blue;
    border-color: blue;
    color: yellow;
    padding: 10px 30px;
    border-radius: 3px;
  }
  
  #add-enemy {
    display: none;
  }